#sidebar {
    width: 250px;
    height: 100vh;
    box-shadow: 0px 0px 10px 0 #ccc;
    display: inline-block;
    background: #003068;
}

#sidebar img {
    width: 112%;
    height: 70px;
    padding: 4px 20px;
    border-bottom: 2px solid white !important;
    object-fit: contain;
    margin-left: -29px;
}

#sidebar ul li{
    color: white;
    display: flex;
    gap: 10px;
    padding: 16px 20px;
    cursor: pointer;
    background-color: #2a3f54;
    border-bottom: 1px solid white;
}
#sidebar .log_out_opt{
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: white;
    font-size: 14px;
    display: flex;
    gap: 7px;
    align-items: center;
    cursor: pointer;
}
#sidebar .log_out_opt .log_out_iconn{
font-size: 16px;
}