#login{
    background-image: url('../image/loginbackground.png');
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login .login{
    height: 400px;
    width: 500px;
    background: rgb(0 0 0 / 40%);
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 13px 0 #ccc;
}
#login .login .log_head{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
}
#login .login .log_cont{
    padding: 60px 0px;
}
#login .login .log_cont .log_inpp{
    background: transparent;
    width: 100%;
    margin-bottom: 6px;
    border: 1px solid black;
    font-size: 14px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
#login .login .log_cont .password{
    display: inline-block;
    margin: 10px 0;
    font-size: 12px;
    margin-left: 4px;
    color: #afafff;
    cursor: pointer;
}
#login .login .log_btnn{
    background: unset;
    color: white;
    font-size: 14px;
    border: 1px solid white;
    padding: 10px 55px;
    border-radius: 6px;
    margin: 0 auto;
    display: inherit;
}